/* Background.css */
.background-wrapper {
    height: 100%; /* Full viewport height */
    width: 100%;
    /* overflow: hidden; */
  }
  
  .gradient-section { /* 40% of the viewport height */
    background-image: linear-gradient(95.58deg, #E2DDFE -1.33%, #E8EBF7 28.97%, #E8EBF7 73.81%, #D9D5F4 93.63%); /* Gradient background */ /* Ensures text over gradient is visible */
    z-index: 1;
    background-size: cover;
    /* min-height: 100vh; */
    /* backgroundSize: "cover",
    min-height: "100vh", */
  }
  

  